body {
    background: black;
    font-family:'IBM Plex Mono', monospace;
    text-align: center;
    color: whitesmoke;
   
}   

h1 {
    text-decoration: none;
}

header {
    background-image: url('./images/chi_flag.jpg');
    background-size: 450px;
    border-radius: 4px;
    height: 180px;
    width: 330px;
    padding: 60px;
    margin-left: auto;
    margin-right: auto;
    animation-name: example;
    animation-duration: 10s;
    text-decoration: none;
    
}

input[type=submit] {
    background-color: rgb(237, 237, 237);
    color: black;
    padding: 6px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    font-family: 'Anton', sans-serif;
  }

input[type=date], select, textarea{
    width: 15%;
    padding: 6px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    font-family: 'Anton', sans-serif;
  }

#title {
    text-align: center;
    font-family: 'Anton', sans-serif;
    color: whitesmoke;
    animation-name: fade;
    animation-duration: 10s;
    text-decoration: none;
    
}

@keyframes fade {
    from {color: red}
    to {color: white}
}


#chicago {
    font-family: 'Oleo Script', cursive;
    text-align: center;
    color: whitesmoke;
    font-size: larger;
    animation-name: fade;
    animation-duration: 10s;

}

table {
    margin: 0 auto;
}

td {
    width: 1em;
}



p {
    font-size: 12px;
    text-align: center;
}
  





